* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    clear: both;
    border: 2px solid black;
}

section {
    height: 300px;
    border: 2px solid black;
}

.col-1, .col-3, .col-4 {
    width: 20%;
    float: left;
}

.col-2 {
    width: 40%;
    float: left;
}